<?xml version="1.0"?>
<config>
    <modules>
        <HC_Giftcard>
            <version>1.0.0</version>
        </HC_Giftcard>
    </modules>

    <global>
        <template>
            <email>
                <gift_card_email_template>
                    <label>Gift Card</label>
                    <file>gift_cart.html</file>
                    <type>html</type>
                </gift_card_email_template>
            </email>
                </template>
        <helpers>
            <hc_giftcard>
                <class>HC_Giftcard_Helper</class>
            </hc_giftcard>
        </helpers>
        <models>
            <hc_giftcard>
                <class>HC_Giftcard_Model</class>
            </hc_giftcard>
            <hc_giftcard_mysql4>
            <class>HC_Giftcard_Model_Mysql4</class>
            <entities>
                <hc_giftcard>
                <table>hc_giftcard</table>
            </hc_giftcard>
        </entities>
    </hc_giftcard_mysql4>
        </models>
        <events>
            <sales_order_save_after>
                <observers>
                    <hc_giftcard_observer>
                        <type>singleton</type>
                        <class>HC_Giftcard_Model_Observer</class>
                        <method>sentGiftEmail</method>
                    </hc_giftcard_observer>
                </observers>
            </sales_order_save_after>

            <sales_quote_collect_totals_after>
                <observers>
                    <hc_giftcard_coupon_observer>
                        <type>singleton</type>
                        <class>HC_Giftcard_Model_Observer</class>
                        <method>checkGiftCardAmount</method>
                    </hc_giftcard_coupon_observer>
                </observers>
            </sales_quote_collect_totals_after>
        </events>
        <resources>
            <giftcard_setup>
                <setup>
                    <module>HC_Giftcard</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </giftcard_setup>
            <giftcard_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </giftcard_write>
            <giftcard_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </giftcard_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <HC_Giftcard>
                <use>standard</use>
                <args>
                    <module>HC_Giftcard</module>
                    <frontName>Giftcard</frontName>
                </args>
            </HC_Giftcard>
        </routers>
    </frontend>
    <fieldsets>
        <sales_convert_order>
            <hc_gift_card_sent>
                <to_invoice>*</to_invoice>
                <to_cm>*</to_cm>
            </hc_gift_card_sent>
        </sales_convert_order>
    </fieldsets>
</config>
