<?xml version="1.0"?>
<config>
	<modules>
		<HC_CheckoutData>
			<version>1.0.0</version>
		</HC_CheckoutData>
	</modules>

	<frontend>
		<routers>
			<checkoutdata>
				<use>standard</use>
				<args>
					<module>HC_CheckoutData</module>
					<frontName>CheckoutData</frontName>
				</args>
			</checkoutdata>
		</routers>
            <layout>
                <updates>
                    <checkoutdata>
                        <file>HC_checkout.xml</file>
                    </checkoutdata>
                </updates>
            </layout>
	</frontend>
</config>