<?xml version="1.0"?>
<config>
    <modules>
        <Sellbrite_Api>
            <version>1.2.0</version>
        </Sellbrite_Api>
    </modules>
    <global>
        <helpers>
            <sellbrite_api>
                <class>Sellbrite_Api_Helper</class>
            </sellbrite_api>
        </helpers>
        <models>
            <sellbrite_api>
                <class>Sellbrite_Api_Model</class>
                <resourceModel>sellbrite_api_resource</resourceModel>
            </sellbrite_api>
            <sellbrite_api_resource>
                <class>Sellbrite_Api_Model_Resource</class>
            </sellbrite_api_resource>
        </models>
        <blocks>
            <sellbrite_api>
                <class>Sellbrite_Api_Block</class>
            </sellbrite_api>
        </blocks>
        <resources>
            <sellbrite_setup>
                <setup>
                    <module>Sellbrite_Api</module>
                </setup>
            </sellbrite_setup>
        </resources>
    </global>
    <default>
        <sellbrite_endpoint_url>https://app.sellbrite.com/merchants/magento/init</sellbrite_endpoint_url>
    </default>
</config>
